body {
	background-color: #477148;
}

p {
	color: white;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

a {
	color: white;
	text-decoration: none;	
}

.playArea {
	width: 491px;
	height: 250px;
	margin: 10px auto;
}

.playArea p {
	padding-top: 0.6em;
	padding-right: 1em;
	margin: 0;
	text-align: right;
}

#card {
	background-color: white;
	height: 200px;
	width: 142.85px;
	border-radius: 10px;
	margin: 10px;
	margin-left: -75px;
	display: inline-block;
	box-shadow: 1px 1px 5px black;
}

#card #value {
	font-size: 2em;
	padding-left: 0.4em;
	padding-top: 0.2em;
}

#card.first {
	margin-left: 10px;
}

.S, .C {
	color: black;
}
.D, .H {
	color: red;
}

#playerControls {
	background-color: #476148;
	border-radius: 10px;
	width: 491px;
	height: auto;
	margin: 20px auto;
}

#playerControls {
	text-align: center;
}

.button {
	border: none;
	color: black;
	background: white;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	padding: 0.5em 1.2em 0.5em 1.2em;
	font-size: 0.8em;
}

#playerControls p {
	padding-top: 1.5em;
}

#playerControls #inGame {
	display:none;
}

#gameFeedback p {
	font-size: 1.1em;
}

#footer p {
	text-align: center;
	font-size: 0.8em;
}